.cardsContainer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem;
  }
  
  .card {
    position: relative;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  
    &:hover {
      transform: scale(1.05);
    }
  
    .image {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
    }
  
    .overlay {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #000;
      padding: 1rem;
      border-radius: 5px;      
      width: 100%;
    }
  
    .discount {
      font-size: 10px;
      margin-bottom: 0.5rem;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    .title {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  
    .shopButton {
      padding: 7px 15px;
      border: none;
      border-radius: 5px;
      background-color: white;
      cursor: pointer;
      transition: 0.3s ease;
      font-size: 12px;
      font-weight: bold;

      &:hover {
        background-color: rgb(197, 197, 197);
        transition: 0.3s ease;
      }
    }
  }